.dexCard {
	border: 1px solid #ccc;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 5px;
	width: 200px;
	height: 300px;
	margin: 16px;
	text-align: center;
	background-color: #f8f8f8;
    transition: transform 0.5s ease-out, box-shadow 0.6s ease-out;
	
	cursor: pointer;
	perspective: 1000px;
}

.dexCard img {
	width: 130px;
	height: 130px;

}

.dexCard:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  transform: translateY(-4px) perspective(1000px);
  transition: transform 0.175s ease-in, box-shadow 0.19s ease-in;
}

